.drag-element {
    width: calc(100% - 24px);
    border: 1px dashed gray;
    background-color: white;
    padding: 8px 16px;
    margin-right: 24px;
    margin-bottom: 24px;
    text-align: center;
    cursor: pointer;
    position: relative;

    div {
        position: absolute;
        top: 2px;
        right: 5px;
    }
}

.form-dropzone {
    .drag-element {
        height: 50px;
        padding: 16px;
    }
}